@import "colorGenerator.css";
@import "marginGenerator.css";
@import "fontGenerator.css";
@import "radiusGenerator.css";
@import "shadowGenerator.css";
@import "borderGenerator.css";


/*==================================================GLOBAL STYLE==================================================*/
.slider 
{
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s; 
  transition: opacity .2s;
  border-radius: 31px 31px 31px 31px;
}

.slider:hover 
{
  opacity: 1;
}

.slider::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: black;
  cursor: pointer; 
}

.slider::-moz-range-thumb 
{
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: radial-gradient(ellipse at center, rgba(247,49,49,1) 0%, rgba(0,21,255,1) 100%);
  cursor: pointer;
}



h1
{
    text-align: center;
}